.topics-container{
    width: 60%;
    height: 50%;
    text-align: center;
}
.topics{
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(194, 186, 186);
}
.topics img{
    height: 200px;
    width: 200px;
    margin: auto;
}
.topics button{
    padding: 15px;
    border-radius: 20px;
    font-size: large;
    cursor: pointer;
    border: none;
    background-color: aliceblue;
}
.topics button:hover{
    background-color: black;
    color: white;
}